<%- include('../partials/header') %>

<div>
<h1>Pessoas</h1>
<p><a href="/pessoas/create">Adicionar pessoa</a></p>
<table class="table table-striped table-hover table-bordered">
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Ações</th>
  </tr>
  <% pessoas.forEach((pessoa) => { %>
  <tr>
    <td><%= pessoa.id %></td>
    <td><%= pessoa.nome %></td>
    <td>
      <div class="btn-group" role="group">
        <a href="/pessoas/update/<%= pessoa.id %>" class="btn btn-default">Editar</a>
        <a href="/pessoas/delete/<%= pessoa.id %>" class="btn btn-danger"
          onclick="return confirm('Deseja excluir esta pessoa?')">Excluir</a>
      </div>
    </td>
  </tr>
  <% }) %>
</table>
</div>

<%- include('../partials/footer') %>